* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color:#849d8f;
}
h1, h2, h3, h4 {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}
p {
    margin: 0;
}
button {
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    outline: none;}
a {
    text-decoration: none;
    color: inherit;
}
input {
    border: none;
    font: inherit;
    outline: none;
}
select {
    font: inherit;
}
textarea {
    font: inherit;
}
body {
    margin: 0;
}
svg {
    pointer-events: none;
}
.container {
    max-width: 1146px;
    margin: 0 auto;
    padding: 25px 15px;
}
.header_top {
    display: grid;
    grid-template-columns: auto 600px 100px 100px 100px;
}
.nav__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.nav__item {
    padding: 4px  8px;
}
.nav__item:not(:last-child) {
    margin-right: 8px;
}
.nav__item:hover {
    border-radius: 20px;
    color: #323232;
    background-color: white;
    height: 30px;
}
.nav__item a:hover {
    color:  #000000;
}
.nav__link {
    font-weight: 400;
    font-size: 16px;
    color: #ffff;
}
nav.nav ul ul {
    display: none;
}
nav.nav li:hover > ul {
    display: block;
    color:  #000000;
    background-color: #ffffff;
    margin-top: 10px;
    width: 100px;
    height: 130px;
    text-align: center;
}
.search__btn {
    display: none;
}
.search__btn:hover {
    display: block;
}
.header__btn:hover ~ .search__btn {
    display: block;
}
.enter__form {
    display: none;
    border-radius: 1px ;
    background-color: #f8f7f4;
}
.enter1:hover {
    display: block;
}
.header__btn:hover ~ .enter__form {
    display: block;
}
.basket__forms {
    display: none;
    border-radius: 1px ;
    background-color: #f8f7f4;
    border: 3px;
    width: 500px;
    height: 170px;
    margin-left: -200px;
}
.basket__forms:hover {
    display: block;
}
.header__btn:hover ~ .basket__forms {
    display: block;
}
.header__btn:hover {
    background-color: white;
    width: 75px;
    height: 40px;
    border-radius: 40px;
}
.header__btn {
    background-color: #f8f7f4;;
    width: 75px;
    height: 40px;
    border-radius: 40px;
}
.header_bottom {
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
}
.enter1 {
    border: 2px none;
    padding: 5px 10px;
    background-color: #cccccc;
}
.login__form-input {
    border: 2px none;
    margin: 25px 25px 23px 20px;
}
.enter a {
    color: #000000;
    text-decoration: underline;
}
.password__form-input {
    border: 2px none;
    margin-bottom: 10px;
    margin-left: 20px;
}
.inners {
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
}
.header__link a{
    margin-left: 52%;
}
.inners a {
    font-size: 10px;
    padding-left: 10px;
}
.enter {
    border: 2px none;
    width: 250px;
    height: 218px;
}
.basket:hover {
    width: 500px;
}

.basket__form1 {
    display: grid;
    grid-template-columns: 20px 250px 130px 100px;
    padding-top: 15px;
}
.basket__image {
    display: grid;
    grid-template-columns: 20px 20px;
}
.basket__form2 {
    display: grid;
    grid-template-columns: 20px 250px 130px 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.basket__total {
    display: flex;
    justify-content: end;
}
.btn11 {
    height: 40px;
    background-color: #ed5b3d;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;;
    padding: 10px 15px;
    border-radius: 40px;
    text-align: center;
    margin-left: 20px;
    float: left;
    width: 48%;
}
.btn {
    display: block;
    width: 190px;
    height: 45px;
    background-color: #ed5b3d;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;;
    padding: 10px 15px;
    border-radius: 40px;
    text-align: center;
    margin-left: 330px;
}
.banners {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.banners__item-title {
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 25px;
}
.ban {
    font-size: 20px;
    padding: 15px 20px 30px 20px;
}
.banners__item1 {
    background-image: url('images/berry.png');
    height: 230px;
    width: 560px;
    border-radius: 20px;
    margin-right: 26px;
    color: #ffffff;
}
.banners__item2 {
    background-image: url('images/chocolate.png');
    height: 230px;
    width: 560px;
    border-radius: 20px;
    color: #ffffff;
}
.offers, .offers1, .offers2, .offers3, .offers4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;
    margin-bottom: 45px;
}
.pages {
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 20px;
}
.btn3 {
    display: none;
    width: 200px;
    height: 35px;
    background-color: #ed5b3d;
    font-size: 14px;
    color:  #ffffff;;
    padding: 10px 15px;
    border-radius: 40px;
    text-align: center;
    margin-top: 10px;
}
.btn3:hover {
    display: block;
}
.offers-menu:hover ~ .btn3 {
    display: block;
}
.menu {
    border-radius: 85%;
}
.offers__title a {
    color: #ffffff;
    text-align: center;
    text-decoration: underline;

}
.hits-price {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}
.price {
    display: flex;
    position: relative;
    z-index: 1;
    margin-top: -70px;
    margin-bottom: 20px;
}
.offers-menu {
    margin-top: 60px;
}
.advantages {
    background-image: url('images/waffle.jpg');
    margin-bottom: 45px;
    height: 305px;
    border-radius: 20px;
}
.advantages-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.advantages-list li {
    display: block;
    float: left;
    width: 49%;
}
.container2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.index-new-post {
    background-image: url('images/strawberry.jpg');
    width: 560px;
    margin-right: 26px;
    height: 220px;
    border-radius: 20px;
}
.shop {
    padding: 35px 114px 30px 22px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.advantages-list{
    position: relative;
    padding-left: 60px;
}
.advantages-list::before {
    content: "";
    position: absolute;
    top: -14px;
    left:0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.about__item1::before {
    content: url('images/icecream.png');
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 0;
    padding-left: 10px;
}
.about__item2::before {
    content: url('images/cow.png');
    position: absolute;
    width: 15px;
    height: 15px;
}
.about__item3::before {
    content: url('images/leave.png');
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    padding-left: 10px;
}
.about__item4::before {
    content: url('images/temperature.png');
    position: absolute;
    width: 15px;
    height: 15px;
}
.about {
    padding-left: 60px;
}
.about1 {
    padding-left: 10px;
}
.advantages-list li {
    margin-bottom: 20px;
}
.new {
    padding-left: 10px;
    padding-top: 35px;
    margin-bottom: 10px;
}
.index-new-post a {
    padding-left: 10px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    text-align: right;
}
.subscribe {
    background-image: url('images/mail.png');
    width: 560px;
    height: 220px;
    border-radius: 20px;
    text-align: center;
}
.wrap {
    border-radius: 20px;
    color: #323232;
    background-color: #f8f7f4;
    height: 205px;
    width: 540px;
    margin: 7px;
}
.send {
    padding-top: 50px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
}
.search__form {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    height: 35px;
    width: 342px;
    color: #323232;
}
.search__form1 {
    height: 43px;
    width: 500px;
    border: solid lightgray;
    border-radius: 5px ;
    margin-right: 5px;
}
.btn1 {
    display: block;
    width: 129px;
    color: #ffffff;
    font-weight: bold;
    height: 43px;
    background-color: #ed5b3d;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 40px;
    text-align: center;
}
iframe {
    width: 1135px;
}
.map__information {
    display: block;
    border: 2px none;
    height: 306px;
    width: 305px;
    padding: 33px;
    background-color:  #ffffff;
    position: relative;
    z-index: 1;
    margin-top: -380px;
    margin-left: 810px;
}
.address {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 7px;
}
.street {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.order {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}
.phone__order {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 7px;
}
.map__phone {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.footer {
    margin-top: 60px;
}
.footer__documents li{
    display: block;
    float: left;
    width: 49%;
}
.footer__documents {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.page_footer {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}
.footer_social a
{
    display: inline-block;
}
.bold__href {
    font-weight: bold;
}
.footer_documents li:hover {
    color: lightpink;
}
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}
/* Hide the images by default */
.mySlides {
    display: none;

}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
