* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color:#849d8f;
}
h1, h2, h3, h4 {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}
p {
    margin: 0;
}
button {
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    outline: none;}
a {
    text-decoration: none;
    color: inherit;
}
input {
    border: none;
    font: inherit;
    outline: none;
}
select {
    font: inherit;
}
textarea {
    font: inherit;
}
body {
    margin: 0;
}
svg {
    pointer-events: none;
}
.container {
    max-width: 1146px;
    margin: 0 auto;
    padding: 25px 15px;
}
.header_top {
    display: grid;
    grid-template-columns: auto 1fr auto 250px 118px;
}
.nav__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.nav__item {
    padding: 4px  8px;
}
.nav__item:not(:last-child) {
    margin-right: 8px;
}
.nav__item:hover {
    border-radius: 20px;
    color: #323232;
    background-color: white;
    height: 30px;
}
.nav__link {
    font-weight: 400;
    font-size: 16px;
    color: #ffff;
    text-decoration: underline;
}
.nav__sub-list:hover {
    border-radius: 10px;
    color: #323232;
    background-color: white;
    display: none;
}
.nav__sub-list {
    display: none;
    position: absolute;
}
.nav__sub-list:hover {
    display: block;
}
.header__btn:hover {
    width: 40px;
    border-radius: 10px;
    background-color: #ffffff;
}
.header_bottom {
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
}
.enter__form {
    border: 2px none;
    padding: 5px 10px;
    background-color: #cccccc;
}
.login__form-input {
    border: 2px none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.enter a {
    color: #000000;
    text-decoration: underline;
}
.password__form-input {
    border: 2px none;
    margin-bottom: 10px;
}
.btn {
    display: block;
    width: 62px;
    height: 25px;
    background-color: #ed5b3d;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 40px;
    text-align: center;
}




.footer__documents li{
    display: block;
    float: left;
    width: 49%;
}
.footer__documents {
    margin: 0;
    padding: 0;
    list-style-type: none;
}